<%= gravatar_for @user, size: 150 %>
<br>
<h1> Welcome Mr <%= @user.username %> 
<br>
Id: <%= session[:user_id] %> <br>
Username <%= session[:username] %><br>
<%= link_to "Create New Articles" , new_article_path %> | <%= link_to 'Update your Profile' %>  <% if current_user.admin? %>  | <%= link_to "Create Category" , new_category_path%> <%end%>


<h3>Articles by this User</h3>

<table>
<tr>
<th>Topic</th>
<th>Description</th>
<th>Show</th>
<th>Edit</th>
<th>Delete</th>
</tr>

<% @user.articles.each do |a|%>
<tr>
<th><%= a.name %></th>
<th><%= a.description %></th>
<th><%= link_to "show" , article_path(a.id) %></th>
<th><%= link_to "Edit" , edit_article_path(a) %></th>
<td><%= link_to "Delete" ,article_path(a), method: :delete, data: { 
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td> 

</tr>
<%end%>

</table>

<% if current_user.admin?%>
<h1>Total number of Users: </h1> <%= User.count %>
<br><h4>Users Name List</h4>
<ul>

<% User.all.each do |u| %>
<li><%= u.username%></li>
<%end%>
</ul>
<%end%>